@font-face {
	font-family: 'CorkiTuscan';
	src: url('../fonts/CorkiTuscan/Corki-Tuscan.eot');
	src: url('../fonts/CorkiTuscan/Corki-Tuscan.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CorkiTuscan/Corki-Tuscan.woff2') format('woff2'),
		url('../fonts/CorkiTuscan/Corki-Tuscan.woff') format('woff'),
		url('../fonts/CorkiTuscan/Corki-Tuscan.ttf') format('truetype'),
		url('../fonts/CorkiTuscan/Corki-Tuscan.svg#Corki-Tuscan') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextCompPro';
	src: url('../fonts/PFDinTextCompPro/PFDinTextCompPro-Regular.eot');
	src: url('../fonts/PFDinTextCompPro/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinTextCompPro/PFDinTextCompPro-Regular.woff2') format('woff2'),
		url('../fonts/PFDinTextCompPro/PFDinTextCompPro-Regular.woff') format('woff'),
		url('../fonts/PFDinTextCompPro/PFDinTextCompPro-Regular.ttf') format('truetype'),
		url('../fonts/PFDinTextCompPro/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'StampborGrungeRussian';
	src: url('../fonts/StampborGrungeRussian/StampborGrungeRussian.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue/BebasNeueRegular.eot');
	src: url('../fonts/BebasNeue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeue/BebasNeueRegular.woff2') format('woff2'),
		url('../fonts/BebasNeue/BebasNeueRegular.woff') format('woff'),
		url('../fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype'),
		url('../fonts/BebasNeue/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue/BebasNeueBold.eot');
	src: url('../fonts/BebasNeue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeue/BebasNeueBold.woff2') format('woff2'),
		url('../fonts/BebasNeue/BebasNeueBold.woff') format('woff'),
		url('../fonts/BebasNeue/BebasNeueBold.ttf') format('truetype'),
		url('../fonts/BebasNeue/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
}