.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-main-logo {
	font-size:(188.6/10)*1rem;
	width:(1303.5/188.6)*1em;
}
.icon-top-slogan {
	font-size:(48.6/10)*1rem;
	width:(290.8/48.6)*1em;
}
