footer.footer
	div.container
		p.footer__text.
			Организатор розыгрыша ООО «АмРест» ИНН/КПП 7825335145/780101001 ОГРН 1027809227050 Адрес 199004, Санкт-Петербург г, Средний В.о. пр-кт, дом №36/40 www.pizzahut.ru